## Startup 25 Test data

In [19]:
import pandas as pd
import numpy as np
data = pd.read_csv("Test Data - Sheet1.csv", skiprows=[0], low_memory=False)
np_data = np.loadtxt("housing.csv", unpack=True)

In [20]:
data.columns

Index(['Company', 'Date Founded', 'Headquarters', 'Founders',
       'Founders Prev Jobs', 'Percentage Founders at a top school', 'VCs',
       '3 Month Page View Delta (% per million)',
       '3 Month Page Views (per million)', '1 Month Page View Delta',
       '1 Month Page Views', 'Total Jobs', 'Dev Jobs',
       'Avg. Age of Dev Posting (days)', 'App Downloads', 'Total Funding',
       'Last Round Date', 'Last Round (Series Letter)', 'Last Raise Amount',
       'Time between last two funding rounds',
       'Amount of [-2] Round (next-to-last)', 'Number of Employees',
       'GeekWire Ranking', 'Class'],
      dtype='object')

In [23]:
data

,Company,Date Founded,Headquarters,Founders,Founders Prev Jobs,Percentage Founders at a top school,VCs,3 Month Page View Delta (% per million),3 Month Page Views (per million),1 Month Page View Delta,...,App Downloads,Total Funding,Last Round Date,Last Round (Series Letter),Last Raise Amount,Time between last two funding rounds,Amount of [-2] Round (next-to-last),Number of Employees,GeekWire Ranking,Class
0,DataSphere,2006,"Bellevue, WA","Anil Pereira, Ted Bremer",0,100%,NaN,-27.30,0.07,74.000,...,NaN,"$35,310,000","March, 2012",Series D,"$8,000,000",1.500,"$10,000,000",305,29,1
1,Geocaching,9/1/2000,"Seattle, WA","Elias Alvord, Jeremy Irish, Bryan Roth",0,0%,NaN,-4.61,21.20,26.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112,31,1
2,Acumatica,2006,"Kirkland, WA","Mike Chtchelkonogov, Serguei Beloussov, John S...",0,50%,NaN,54.00,0.53,-24.980,...,NaN,"$23,300,000","October, 2014",Series D,"$13,300,000",0.916,"$10,000,000",147,41,1
3,Limeade,2/5/2006,"Bellevue, WA","David Reeves, Erick Rivas, Chris Dickinson, He...",0,0%,NaN,45.00,0.53,-3.520,...,NaN,"$32,990,000","October, 2014",Series C,"$25,000,000",2.000,"$5,000,000",197,42,1
4,Socrata,2007,"Seattle, WA",Kevin Merritt,1,0%,NaN,-24.08,0.23,-18.870,...,NaN,"$54,000,000","November, 2014",Series C,"$30,000,000",1.416,"$18,000,000",160,43,1
5,iSpot.tv,2012,"Bellevue, WA",Sean Muller,0,0%,"Insight, Madrona",11.00,2.94,-4.846,...,NaN,"$27,800,000","May, 2015",Series B,"$21,900,000",1.583,"$5,330,000",101,57,1
6,Qumulo,2012,"Seattle, WA","Peter Godman, Neal Fachan, Aaron Passey",1,66%,NaN,-21.19,0.02,-27.760,...,NaN,"$129,300,000",April 2014,Series C,"$30,000,000",0.833,"$32,500,000",149,58,1
7,Outreach,2013,"Seattle, WA","Andrew Kinzer, Manuel Medina, Gordon Hempton, ...",1,25%,NaN,306.00,11.20,3.000,...,NaN,"$30,000,000","June, 2016",Series B,"$17,500,000",0.667,"$9,200,000",166,62,1
8,Placed,1/19/2011,"Seattle, WA",David Shim,0,0%,Madrona,10.00,0.15,-65.500,...,NaN,"$13,400,000","June, 2014",Series B,"$10,000,000",2.250,"$3,400,000",128,64,1
9,Kymeta,2012,"Redmond, WA",Nathan Kundtz,0,100%,NaN,340.00,0.06,380.000,...,NaN,"$144,000,000","January, 2016",Series D,"$62,000,000",1.083,"$20,000,000",131,65,1
10,Indix,12/1/2010,"Seattle, WA","Sanjay Parthasarathy, Satya Kaliki, Rajesh Mup...",0,50%,NaN,-60.00,0.05,-3.500,...,NaN,"$30,890,000","June, 2015",Series B,"$15,000,000",1.250,"$8,500,000",85,75,1
11,Point-Inside,02/01/2009,"Bellevue, WA","Brian Wilson, Josh Marti, Jon Croy",0,0%,NaN,-10.89,0.01,-46.980,...,NaN,"$4,480,000","August, 2012",Venture,"$3,200,000",1.000,"$805,000",94,78,1
12,FlowPlay,"December 1, 2006","Seattle, WA","Christian Oestlien, Doug Pearson, Derrick Morton",0,100%,Intel Capital,-36.00,0.03,-43.400,...,NaN,"$8,170,000","June, 2013",Debt Financing,"$2,000,000",2.833,"$300,000",52,83,0
13,Convoy,2015,"Seattle, WA","Grant Goodale, Daniel Lewis",1,100%,Greylock,300.00,0.28,320.000,...,NaN,"$18,500,000","March, 2016",Series A,"$16,000,000",0.416,"$2,500,000",32,85,0
14,Glowforge,2014,"Seattle, WA","Tony Wright, Dan Shapiro, Mark Gosselin",1,33%,"Foundry, True",-32.21,0.32,36.000,...,NaN,"$32,270,000","August, 2016",Series B,"$22,000,000",0.833,"$27,900,000",49,101,0
15,Qorus,2006,"Seattle, WA","Ray Meiring, Lee Child, Stephanie Laurent",0,0%,NaN,-56.83,0.01,-54.400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65,113,0
16,Maana,"April 1, 2012","Palo Alto, CA","Donald Thompson, Babur Ozden",1,100%,NaN,140.00,0.05,190.000,...,NaN,"$43,200,000","May, 2016",Series B,"$26,000,000",1.000,"$14,000,000",96,114,0
17,Apptentive,3/10/2011,"Seattle, WA","Andrew Wooster, Sky Kelsey, Robi Ganguly, Mike...",1,66%,NaN,-47.15,0.21,10.000,...,NaN,"$11,900,000","February, 2017",Series A,"$1,700,000",0.250,"$3,600,000",43,123,0
18,MangoApps,12/01/2007,"London, England","Anup Kejriwal, Christina Kejriwal, Vishwa Malh...",0,0%,NaN,120.00,0.44,26.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73,140,0
19,Hubb,2012,"Vancouver, WA",Allison Magyar,0,0%,NaN,36.00,0.07,20.000,...,NaN,"$3,160,000","October, 2016",Series A,"$3,000,000",0.416,"$155,000",47,156,0
20,Add3,2007,"Seattle, WA",Brian Rauschenbach,0,0%,NaN,10.00,0.03,100.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34,163,0
21,Boatbound,07/01/2012,"San Francisco, CA","Aaron Hall, Matt Johnston",0,0%,NaN,-27.19,0.15,61.000,...,NaN,"$5,040,000","December, 2014",Seed,"$725,000",1.667,"$2,500,000",5,177,0
22,Audiosocket,05/01/2008,"Seattle, WA","Brent McCrossen, Jenn Miller",0,0%,NaN,-23.25,0.09,20.000,...,NaN,"$3,480,000","May, 2013",Venture,"$650,000",1.250,"$1,580,000",21,185,0
23,Skilljar,2013,"Seattle, WA","Jason Stewart, Sandi Lin",1,100%,NaN,77.00,0.71,-33.400,...,NaN,"$3,700,000","November, 2015",Seed,"$2,600,000",2.000,"$1,100,00",29,193,0
24,Defense Storm,"May 1, 2014","Seattle, WA","Edgardo Nazario, Harold Brewer, Jeff Lunsford,...",0,66%,NaN,50.00,0.01,-83.000,...,NaN,"$11,400,000",July 2016,Angel,"$6,000,000",0.833,"$3,100,000",31,201,0

In [33]:
data['Percentage Founders at a top school'][0]

'100%'

In [90]:
def m2f(x):
    try:
        return int(x.replace('$', '').replace(',', ''))
    except ValueError:
        return x

In [91]:
def p2f(x):
    return float(x.strip('%'))/100

In [92]:
df = pd.read_csv("Test Data - Sheet1.csv",
                 skiprows=[0],
                 converters={'Percentage Founders at a top school':p2f,
                             'Total Funding':m2f,
                             'Last Raise Amount':m2f,
                             'Amount of [-2] Round (next-to-last)':m2f},
                 usecols=[0,4,5,7,8,9, 10, 11, 12, 13, 15, 18, 19, 20, 21])
df

,Company,Founders Prev Jobs,Percentage Founders at a top school,3 Month Page View Delta (% per million),3 Month Page Views (per million),1 Month Page View Delta,1 Month Page Views,Total Jobs,Dev Jobs,Avg. Age of Dev Posting (days),Total Funding,Last Raise Amount,Time between last two funding rounds,Amount of [-2] Round (next-to-last),Number of Employees
0,DataSphere,0,1.00,-27.30,0.07,74.000,0.09,2,0,NaN,35310000,8000000,1.500,10000000,305
1,Geocaching,0,0.00,-4.61,21.20,26.000,25.30,4,2,17.3,,,NaN,,112
2,Acumatica,0,0.50,54.00,0.53,-24.980,0.47,0,0,NaN,23300000,13300000,0.916,10000000,147
3,Limeade,0,0.00,45.00,0.53,-3.520,0.50,12,4,44.5,32990000,25000000,2.000,5000000,197
4,Socrata,1,0.00,-24.08,0.23,-18.870,0.23,16,15,65.4,54000000,30000000,1.416,18000000,160
5,iSpot.tv,0,0.00,11.00,2.94,-4.846,2.89,9,7,61.7,27800000,21900000,1.583,5330000,101
6,Qumulo,1,0.66,-21.19,0.02,-27.760,0.01,1,0,NaN,129300000,30000000,0.833,32500000,149
7,Outreach,1,0.25,306.00,11.20,3.000,12.50,22,6,51.0,30000000,17500000,0.667,9200000,166
8,Placed,0,0.00,10.00,0.15,-65.500,0.08,12,7,59.6,13400000,10000000,2.250,3400000,128
9,Kymeta,0,1.00,340.00,0.06,380.000,0.10,15,13,53.0,144000000,62000000,1.083,20000000,131
10,Indix,0,0.50,-60.00,0.05,-3.500,0.06,1,1,31.0,30890000,15000000,1.250,8500000,85
11,Point-Inside,0,0.00,-10.89,0.01,-46.980,0.01,2,2,54.0,4480000,3200000,1.000,805000,94
12,FlowPlay,0,1.00,-36.00,0.03,-43.400,0.02,0,0,NaN,8170000,2000000,2.833,300000,52
13,Convoy,1,1.00,300.00,0.28,320.000,0.61,17,2,45.5,18500000,16000000,0.416,2500000,32
14,Glowforge,1,0.33,-32.21,0.32,36.000,0.33,25,16,12.0,32270000,22000000,0.833,27900000,49
15,Qorus,0,0.00,-56.83,0.01,-54.400,0.01,0,0,NaN,,,NaN,,65
16,Maana,1,1.00,140.00,0.05,190.000,0.07,28,10,54.4,43200000,26000000,1.000,14000000,96
17,Apptentive,1,0.66,-47.15,0.21,10.000,0.20,6,4,13.5,11900000,1700000,0.250,3600000,43
18,MangoApps,0,0.00,120.00,0.44,26.000,0.56,0,0,NaN,,,NaN,,73
19,Hubb,0,0.00,36.00,0.07,20.000,0.07,2,0,NaN,3160000,3000000,0.416,155000,47
20,Add3,0,0.00,10.00,0.03,100.000,0.04,0,0,NaN,,,NaN,,34
21,Boatbound,0,0.00,-27.19,0.15,61.000,0.20,1,0,NaN,5040000,725000,1.667,2500000,5
22,Audiosocket,0,0.00,-23.25,0.09,20.000,0.11,0,0,NaN,3480000,650000,1.250,1580000,21
23,Skilljar,1,1.00,77.00,0.71,-33.400,0.52,8,4,42.8,3700000,2600000,2.000,110000,29
24,Defense Storm,0,0.66,50.00,0.01,-83.000,0.00,0,0,NaN,11400000,6000000,0.833,3100000,31

In [40]:
type(df['Percentage Founders at a top school'][0])

numpy.float64

In [42]:
df['Percentage Founders at a top school'].dtypes

dtype('float64')

In [87]:
df.columns

Index(['Company', 'Founders Prev Jobs', 'Percentage Founders at a top school',
       '3 Month Page View Delta (% per million)',
       '3 Month Page Views (per million)', '1 Month Page View Delta',
       '1 Month Page Views', 'Total Jobs', 'Dev Jobs',
       'Avg. Age of Dev Posting (days)', 'Total Funding', 'Last Raise Amount',
       'Time between last two funding rounds',
       'Amount of [-2] Round (next-to-last)', 'Number of Employees'],
      dtype='object')

In [58]:
df['1 Month Page Views'].dtypes

dtype('float64')

In [59]:
df['Total Funding'].dtypes

dtype('O')

In [86]:
df['Total Funding']

0     3.531e+07
1
2      2.33e+07
3     3.299e+07
4       5.4e+07
5      2.78e+07
6     1.293e+08
7         3e+07
8      1.34e+07
9      1.44e+08
10    3.089e+07
11     4.48e+06
12     8.17e+06
13     1.85e+07
14    3.227e+07
15
16     4.32e+07
17     1.19e+07
18
19     3.16e+06
20
21     5.04e+06
22     3.48e+06
23      3.7e+06
24     1.14e+07
Name: Total Funding, dtype: object